@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}
/*Display*/
.b-block{
    /*O inline dispõe os elementos em linha, quando é utilizado o block, a a quebra dele.*/
    display: block;
    width: 100%;
    color: rgb(255, 174, 0);
}
.b-inline{
    display: inline;
    color: rgb(58, 158, 1);
}
.b-inline-block{
    /*Dispõe os elementos da mesma classe/div/tag em linha*/
    display: inline-block;
    width: 160px;
}
.b-none{
    display: none;
}

/*Position*/
.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: bisque;
    padding: 12px;
    text-align: center;
}
.container{
    padding: 20px;
}
.box{
    width: 200px;
    height: 100px;
    margin: 20px;
    background-color: rgb(255, 216, 229);
    text-align: center;
    border: 2px solid salmon;
}
.relative{
    position: relative;
    top: 20px;
    left: 20px;
    background-color: brown;
}
.absolute-container{
    position: relative;
    width: 300px;
    height: 200px;
    background-color: aquamarine;
    border: 2px solid blue;
    margin: 20px 0;
}
.absolute{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 60px;
    background-color: antiquewhite;
    text-align: center;
}