*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: rgb(188, 188, 188);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    background-color: rgb(255, 255, 255);
    max-width: 40%;
    border-radius:1em;
    padding: 2em;
    box-shadow:  0 4px 8px rgb(0, 0, 0, 0.2);
}
.card img{
    width: 50%;
    display: block;
}
.card h1{
    font-size: 1.5em;
    margin: 1em 0;
}
.card-body{
    width: 100%;
}
.card p{
    color: rgb(61, 61, 61);
    margin-bottom: 2em;
}
.btn{
    border-radius: 0.5em;
    color: white;
    background-color: rgb(2, 15, 112);
    padding: 1em 2em;
    margin-top: 1.5em;
    display: inline-block;
}
.btn:hover{
    background-color: rgb(3, 12, 80);
    transition: 1s;
}
.price{
    font-size: 1.2em;
    font-weight: 700;
}

/* media queries */
@media screen and (min-width:600px) {
    .card{
        flex-direction: column;
        width: 500px;
    }
    .card h1{
        font-size: 1.5em;
    }
}
@media screen and (min-width:1024px) {
    .card{
        display: flex;
        flex-direction: row;
    }
    .card img{
        height: 50vh;
    }
}