body{
    margin: 2em 3em;
    font-family: "Poppins", sans-serif;
}
/*Tabela*/
table{
    border: 0.1em black solid;
    text-align: left;
}
table th, table td{
    padding: 0.5em;
}
/*Forms*/
form input, form select{
    margin-top: 0.6em;
    padding: 0.4em 1em;
    border-radius: 1em;
    border: 0.1em rgb(156, 130, 130) solid;
}
form div {
    margin-bottom: 0.8em;
}