:root{
    /*Definindo as váriaveis globais*/
    --cor-principal: #c5dfe0;
    --cor-destaque: #8daec3;
    --cor-fundo: rgb(240,254,255);

    --font-principal: "Open Sans", sans-serif;
    --font-titulo: "Poppins", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    /* position: relative; */
    font-family: var(--font-principal);
    background-color: var(--cor-principal);
}
/**/
.boxAlign{
    justify-content: center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.box{
    width: 100%;
    padding: 3em 1em;
    display: flex;
    border-radius: 2em;
    background-color: var(--cor-fundo);
}
header{
    width: 30%;
    padding: 1em 3em;
}
header h1{
    color: var(--cor-destaque);
    margin-bottom: 1em;
    font-family: var(--font-titulo);
    font-weight: 700;
}
header img {
    width: 60%;
    border-radius: 50%;
    margin-bottom: 2em;
}
main h2{
    font-family: var(--font-titulo);
    margin: 1.2em 0 ;
    font-size: 1.5em;
}
main li{
    margin-left: 2em;
    margin-bottom: 0.3em;
}
.card li span{
    font-weight: 700;
}
.icons{
    font-size:2.5em;
    margin-top: 0.5em;
}
.icons i{
    padding-right: 0.2em ;
}
