:root{
    --cor-laranja: #ff9859;
    --cor-rosa: #e492c3;
    --preto: #212121;
    --cor-fonte: rgb(226, 226, 226);
    --fundo-transparente: rgb(59, 59, 59,0.3);
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: var(--preto);
    color: var(--cor-fonte);
}
a{
    color: var(--cor-fonte);
}
.block{
    display: block;
}
.transparent{
    color: var(--cor-fonte);
    background-color: transparent;
    border: 1.5px var(--cor-fonte) solid;
}
.orange {
    border: none;
    background-color: var(--cor-laranja);
}
.center{
    text-align: center;
}
.space-betwen{
    display: flex;
    justify-content: space-between;
}
textarea{
    resize:none;
}
/* Navegação menu*/
header {
    padding: 2em 3em;
    align-items: center;
}
.mobile-menu i{
    font-size: 2em;
}
.mobile-menu{
    display: none;
}
header ul{
    list-style: none;
}
.nav{
    display: flex;
    justify-content: space-between;
}
header li{
    font-size: 1.1em;
    padding: 0 1em;
}
header li a {
    position: relative;
    display: inline-block;
}
header li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--cor-laranja);
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s;
}
header li a:hover::before {
    transform: scaleX(1);
}

/* corpo */
main{
    margin: auto;
    width: 90%;   
}
.sobre-nos{
    margin: 3em 0;
    border-radius: 2em;
    background-color: var(--fundo-transparente);
    display: flex;
    justify-content: space-between;
}
/*Select da imagem */
.spaceImage {
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.spaceImage img{
    width: 100%;
    align-items: end;
}
/*seleção do forms*/
.spaceForms{
    width: 60%;
    padding: 0em 5em;
    padding-bottom: 2em;
}
.spaceForms h1{
    margin: 1.5em 0 0.8em 0em;
    font-size: 2em;
}
.input{
    width: 20em;
    width: 100%;
    border-radius: 1em;
    padding:  0.5em 1em;
}
.spaceForms label{
    padding-right: 1em;
    margin: 1em 0;
}
.spaceForms option {
    color: var(--preto);
}
.buttonSpecial{
    font-weight: 500;
    cursor: pointer;
    margin-top: 1em;
    padding: 0.5em 2em;
    border-radius: 2em;
    margin-right: 1em;
    margin-top: 2em;
}
.bo:hover{
    background-color: var(--cor-rosa);
    transition: 0.5s;
}
.bt:hover{
    background-color: var(--cor-fonte);
    color: var(--preto);
    transition: 0.5s;
}
/*FOOTER*/
footer{
    padding: 3em 0 2em 0;
    text-align: center;
}
.icons{
    font-size: 1.5em;
    margin-top: 1em
}
.icons i {
    margin: 0 0.2em;
}
@media (max-width:1290px) {
    .spaceForms{
        margin: auto;
        padding: auto;
    }
    .spaceForms h1{
        text-align: center;
    }
    body{
        overflow-x: hidden;/*Se algo vaza da tela, é ocultado*/
    }
    .sobre-nos{
        display: block;
    }
} 
@media (max-width:630px) {
    .nav{
        display: none;
        position: absolute;
        top: 12vh;
        right: 3em;
        padding: 1em;
        background-color: #e492c3;
    }
    .nav li{
        margin-bottom: 0.8em;
    }
    .mobile-menu{
        display: block;
    }
}
@media (max-width:450px) {
    header h1{
        font-size: 1.3em;
    }
    .spaceForms{
        margin: 1em;
        padding: 0;
    }
    .spaceForms h1{
        font-size: 1.5em;
    }
    .spaceForms label{
        font-size: 0.7em;
    }

}